@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  /* --breakpoint-xl: 1280px; */
  /* --breakpoint-2xl: 1536px; */

  --color-spotify-green: #1db954;
  --color-spotify-hover-green: #1ed760;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

#svelte {
  @apply flex min-h-screen flex-col;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.input-label {
  @apply mb-2 text-sm font-bold tracking-wide text-gray-700;
}

.input-field {
  @apply w-full rounded-sm border border-gray-400 text-gray-700 hover:border-gray-500;
}

.form-validation-error {
  @apply text-red-600;
}

.btn-spotify {
  @apply bg-spotify-green rounded-sm px-6 py-4 text-xl text-white shadow-md;
}

.btn-spotify:hover {
  @apply bg-spotify-hover-green;
}

.gradient-bg {
  background: radial-gradient(
    circle,
    rgba(41, 65, 171, 0.75) 0%,
    rgba(37, 114, 188, 0.75) 33.78%,
    rgba(30, 215, 96, 0.75) 100%
  );
}

.img-bg {
  background-image: url('/crowd-at-concert.jpg');
  background-size: cover;
  background-position: center;
}

.field-required:after {
  content: ' *';
  @apply text-red-600;
}

.loader {
  border-top-color: #1db954;
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.green-dot {
  width: 150px;
  height: 150px;
  left: -80px;
  top: -80px;
  @apply bg-spotify-hover-green absolute block rounded-full;
}

.blue-dot {
  width: 100px;
  height: 100px;
  left: 30px;
  top: -75px;
  @apply absolute block rounded-full bg-blue-500;
}

.green-dot-2 {
  width: 150px;
  height: 150px;
  right: -80px;
  bottom: -80px;
  @apply bg-spotify-hover-green absolute block rounded-full;
}

.blue-dot-2 {
  width: 100px;
  height: 100px;
  right: 30px;
  bottom: -75px;
  @apply absolute block rounded-full bg-blue-500;
}
